.dart_tool/
.packages
.pub/
build/
android/.gradle/
android/local.properties
android/key.properties
android/app/*.jks
android/app/*.keystore
private-symbols/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
